<div class="container"></div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for (@boat) do |f| %>
        <%= f.input :title %>
        <%= f.input :address %>
        <%= f.input :image, as: :file %>
        <%= f.input :size %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= link_to "Back", :back, class: "btn btn-info" %>
        <%= f.submit "Submit", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
 </div>
