
<div >
  <img src="<%= cl_image_path @boat.image.key %>" alt="" class="featured-image">
</div>
<div class="boat-page">
  <div class=" boat-details">
    <p class="title"><%= @boat.title %></p>
    <p class="boat-info">price: <%= @boat.price %></p>
    <p class="boat-info">space: <%= @boat.size %></p>
  </div>

  <p><%= @boat.address %></p>
  <p><%= @boat.description %></p>

<div class="row">
  <ul class="ammenities">
    <li>air conditioning</li>
    <li>bathtube</li>
    <li>built in aquiarium *fish included*</li>
    <li>Early 20s century interior</li>
  </ul>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="row">
  <% @boat.reviews.each do |review| %>
    <%= review.rating %>
    <%= review.content %>
  <% end %>
</div>
<%# to be shown only if user is authenticated %>

<%= link_to "Edit Listing", edit_boat_url(@boat), class: "btn btn-warning" %>
<%= link_to "Delete Listing", boat_path,  method: :delete, class: "btn btn-danger"%>


<%# Visible only if user is not authenticated %>
<%= link_to "Book this boat", new_boat_booking_url(@boat), class: "btn btn-success" %>


<%# visible only if the user had a stay in this boat %>

<% if !Booking.where(boat: @boat, user:current_user).first.nil? %>
  <%= render 'reviews/reviews_form',  booking: Booking.where(boat: @boat, user:current_user).first, review: Review.new %>
<% end %>
